<!DOCTYPE html>
<html>
<head>
  <title>UI</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "ui/application", media: "all" %>

  <% if defined?(Importmap) %>
    <%= javascript_importmap_tags %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
