<% extend UI::ItemBehavior -%>
<% @variant = local_assigns.fetch(:variant, "default") -%>
<% @size = local_assigns.fetch(:size, "default") -%>
<% @classes = local_assigns.fetch(:classes, "") -%>
<% @attributes = local_assigns.except(:variant, :size, :classes) -%>
<% attrs = item_html_attributes.merge(@attributes) -%>
<div class="<%= attrs[:class] %>" data-slot="<%= attrs[:"data-slot"] %>" data-variant="<%= attrs[:"data-variant"] %>" data-size="<%= attrs[:"data-size"] %>">
  <%= yield %>
</div>
