<%# ResponsiveDialog Component - Combines Dialog (desktop) and Drawer (mobile) %>
<%#
  Hybrid CSS + Stimulus approach:
  - Renders both Dialog and Drawer
  - CSS hides one based on breakpoint (md:hidden / md:block)
  - Stimulus controller syncs state between them

  Usage:
  <%= render "ui/responsive_dialog/responsive_dialog",
             open: false,
             breakpoint: 768,
             direction: "bottom" do %>
    <%# Content goes here - will be rendered in both Dialog and Drawer %>
  <% end %>
%>
<%
  content ||= local_assigns.fetch(:content, nil)
  @open = local_assigns.fetch(:open, false)
  @breakpoint = local_assigns.fetch(:breakpoint, 768)
  @direction = local_assigns.fetch(:direction, "bottom")
  @classes = local_assigns.fetch(:classes, "")
  @attributes = local_assigns.fetch(:attributes, {})

  # Extend behavior for shared logic
  extend UI::ResponsiveDialogBehavior

  # Get HTML attributes from behavior
  all_attributes = responsive_dialog_html_attributes.deep_merge(@attributes)
-%>
<%= content_tag :div, all_attributes do %>
  <%# Mobile: Drawer (hidden on md and up) %>
  <div class="md:hidden" data-ui--responsive-dialog-target="drawer">
    <%= render "ui/drawer/drawer", open: @open, direction: @direction do %>
      <%= content || yield %>
    <% end %>
  </div>

  <%# Desktop: Dialog (hidden below md) %>
  <div class="hidden md:block" data-ui--responsive-dialog-target="dialog">
    <%= render "ui/dialog/dialog", open: @open do %>
      <%= content || yield %>
    <% end %>
  </div>
<% end %>
