<div <%= tag.attributes(command_dialog_html_attributes.deep_merge(@attributes)) %>>
  <%= render(UI::Dialog::Dialog.new(close_on_escape: true, close_on_overlay_click: true)) do %>
    <%= render(UI::Dialog::Overlay.new) do %>
      <%= render(UI::Dialog::Content.new(classes: command_dialog_content_classes)) do %>
        <%= render(UI::Command::Command.new) do %>
          <%= content %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
